<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Braddy Hotels & Apartments</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="" />

    <!-- Facebook and Twitter integration -->
    <meta property="og:title" content="" />
    <meta property="og:image" content="" />
    <meta property="og:url" content="" />
    <meta property="og:site_name" content="" />
    <meta property="og:description" content="" />
    <meta name="twitter:title" content="" />
    <meta name="twitter:image" content="" />
    <meta name="twitter:url" content="" />
    <meta name="twitter:card" content="" />

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700" rel="stylesheet">

    <!-- Animate.css -->
    <link rel="stylesheet" href="css/animate.css">
    <!-- Icomoon Icon Fonts-->
    <link rel="stylesheet" href="css/icomoon.css">
    <!-- Bootstrap  -->
    <link rel="stylesheet" href="css/bootstrap.css">

    <!-- Magnific Popup -->
    <link rel="stylesheet" href="css/magnific-popup.css">

    <!-- Flexslider  -->
    <link rel="stylesheet" href="css/flexslider.css">

    <!-- Owl Carousel -->
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">

    <!-- Date Picker -->
    <link rel="stylesheet" href="css/bootstrap-datepicker.css">
    <!-- Flaticons  -->
    <link rel="stylesheet" href="fonts/flaticon/font/flaticon.css">

    <!-- Theme style  -->
    <link rel="stylesheet" href="css/style.css">

    <!-- Modernizr JS -->
    <script src="js/modernizr-2.6.2.min.js"></script>
    <!-- FOR IE9 below -->
    <!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->

</head>

<body>

    <div class="colorlib-loader"></div>
    <div id="page">
        <nav class="colorlib-nav" role="navigation">
            <div class="top" style="background-color: #302939">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-6">
                            <p class="site" style="color: white">
                                I-21, đường Bầu Sen&nbsp2, phường&nbsp2,&nbspVũng&nbspTàu
                            </p>
                        </div>
                        <div class="col-xs-6 text-right">
                            <p class="num" style="color: white">Call: 086-889-2709</p>
                            <ul class="colorlib-social" style="color: white">
                                <li>
                                    <a href="#">
                                        <i class="icon-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.facebook.com/duy.brad">
                                        <i class="icon-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="icon-linkedin"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="icon-dribbble"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="top-menu" style="background: linear-gradient(to right, #ff0084, #833ab4)">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-3">
                            <div id="colorlib">
                                <a href="index.html" style="color: white; font-size: 20px">Braddy&nbspHotel&nbsp&&nbspApartment</a>
                            </div>
                        </div>
                        <div class="col-xs-9 text-right menu-1">
                            <ul>
                                <li class="active">
                                    <a href="index.html">Home</a>
                                </li>
                                <li class="has-dropdown">
                                    <a href="#">Rooms</a>
                                    <ul class="dropdown">
                                        <li>
                                            <a href="rooms.html">Hotels</a>
                                        </li>
                                        <li>
                                            <a href="rooms.html">Apartments</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="blog.html">Blog</a>
                                </li>
                                <li>
                                    <a href="about.html">About</a>
                                </li>
                                <li>
                                    <a href="contact.html">Contact</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <aside id="colorlib-hero">
            <div class="flexslider">
                <ul class="slides">
                    <li style="background-image: url(images/img_bg_5.jpg);">
                        <div class="overlay"></div>
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-6 col-sm-12 col-md-offset-3 slider-text">
                                    <div class="slider-text-inner text-center">
                                        <h2>Welcome to Braddy <br>Hotels & Apartments</h2>
                                        <h1>A beautiful home <br>to stay</h1>
                                        <p>
                                            <a class="btn btn-primary btn-demo" style="border-radius: 39px" href="rooms.html">View rooms</a>
                                            <a class="btn btn-primary btn-learn" style="border-radius: 39px">Contact Us</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li style="background-image: url(images/img_bg_3.jpg);">
                        <div class="overlay"></div>
                        <div class="container-fluids">
                            <div class="row">
                                <div class="col-md-6 col-sm-12 col-md-offset-3 slider-text">
                                    <div class="slider-text-inner text-center">
                                        <h2>You are invited</h2>
                                        <h1>We know <br>how to please you</h1>
                                        <p>
                                            <a class="btn btn-primary btn-demo" style="border-radius: 39px" href="rooms.html">View rooms</a>
                                            <a class="btn btn-primary btn-learn" style="border-radius: 39px">Contact Us</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li style="background-image: url(images/img_bg_4.jpg);">
                        <div class="overlay"></div>
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-6 col-sm-12 col-md-offset-3 slider-text">
                                    <div class="slider-text-inner text-center">
                                        <h2>Come &amp; enjoy <br>the unforgetable nights</h2>
                                        <h1>In Braddy Hotels & Apartments</h1>
                                        <p>
                                            <a class="btn btn-primary btn-learn" style="border-radius: 39px" href="rooms.html">View rooms</a>
                                            <a class="btn btn-primary btn-demo" style="border-radius: 39px">Contact Us</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </aside>

        <div id="colorlib-reservation">
			<div class="container">
				<div class="row">
					<div class="col-md-12 search-wrap">
						<form method="post" class="colorlib-form">
							<div class="row">
								<div class="col-md-3">
									<div class="form-group">
										<label for="date">Check-in:</label>
										<div class="form-field">
											<i class="icon icon-calendar2"></i>
											<input type="text" id="date" class="form-control date" placeholder="Check-in date">
										</div>
									</div>
								</div>
								<div class="col-md-3">
									<div class="form-group">
										<label for="date">Check-out:</label>
										<div class="form-field">
											<i class="icon icon-calendar2"></i>
											<input type="text" id="date" class="form-control date" placeholder="Check-out date">
										</div>
									</div>
								</div>
								<div class="col-md-2">
									<div class="form-group">
										<label for="adults">Adults</label>
										<div class="form-field">
											<i class="icon icon-arrow-down3"></i>
											<select name="people" id="people" class="form-control" style="background-color: #302939">
												<option value="#">1</option>
												<option value="#">2</option>
												<option value="#">3</option>
												<option value="#">4</option>
												<option value="#">5+</option>
											</select>
										</div>
									</div>
								</div>
								<div class="col-md-2">
									<div class="form-group">
										<label for="children">Children</label>
										<div class="form-field">
											<i class="icon icon-arrow-down3"></i>
											<select name="people" id="people" class="form-control" style="background-color: #302939">
												<option value="#">1</option>
												<option value="#">2</option>
												<option value="#">3</option>
												<option value="#">4</option>
												<option value="#">5+</option>
											</select>
										</div>
									</div>
								</div>
								<div class="col-md-2">
									<input type="submit" name="submit" id="submit" value="Search" class="btn btn-primary btn-block">
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>

        <div id="colorlib-services" style="background: linear-gradient(#833ab4, #ff0084)">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 animate-box text-center">
                        <div class="services">
                            <span class="icon">
                                <i class="flaticon-reception"></i>
                            </span>
                            <h3 style="color: white">24/7 Front Desk</h3>
                            <p style="color: white">We always try to serve and help you as soon as possible whenever you need.</p>
                        </div>
                    </div>
                    <div class="col-md-3 animate-box text-center">
                        <div class="services">
                            <span class="icon">
                                <i class="flaticon-herbs"></i>
                            </span>
                            <h3 style="color: white">Relax</h3>
                            <p style="color: white">We put high sense of responsibility for serving our guests. We want to help your vacation become
                                perfect by beautiful rooms with clean equipments, friendly and energetic staffs. Hope you
                                enjoy!!!</p>
                        </div>
                    </div>
                    <div class="col-md-3 animate-box text-center">
                        <div class="services">
                            <span class="icon">
                                <i class="flaticon-car"></i>
                            </span>
                            <h3 style="color: white">Transfer Services</h3>
                            <p style="color: white">GRAB - it's available in Vung Tau for international people who are familiar with.
                                <br> However, there are some other taxi's brands such as: Vinasun, Mailinh, Phuongtrang, ...</p>
                        </div>
                    </div>
                    <div class="col-md-3 animate-box text-center">
                        <div class="services">
                            <span class="icon">
                                <i class="flaticon-cheers"></i>
                            </span>
                            <h3 style="color: white">Restaurant &amp; Bar</h3>
                            <p style="color: white">Around our place, there are many restaurants and places that help you enjoy Vietnamese cuisine
                                such as Phở, Cơm Tấm, Bún Bò Huế, Nem Chua...</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="colorlib-rooms" class="colorlib-light-grey" style="background: linear-gradient(#ff0084, #833ab4)">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3 text-center colorlib-heading animate-box">
                        <span>
                            <i class="icon-star-full"></i>
                            <i class="icon-star-full"></i>
                            <i class="icon-star-full"></i>
                            <i class="icon-star-full"></i>
                            <i class="icon-star-full"></i>
                        </span>
                        <h2 style="color: white">Hotels &amp; Apartments</h2>
                        <p style="color: white">Braddy Hotels & Apartments locates in Á Châu area where there are many foreigners from different countries choosing to stay and relax.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 animate-box">
                        <div class="owl-carousel owl-carousel2">
                            <div class="item">
                                <a href="images/room-1.jpg" class="room image-popup-link" style="background-image: url(images/room-1.jpg);"></a>
                                <div class="desc text-center">
                                    <span class="rate-star">
                                        <i class="icon-star-full full"></i>
                                        <i class="icon-star-full full"></i>
                                        <i class="icon-star-full full"></i>
                                        <i class="icon-star-full"></i>
                                        <i class="icon-star-full"></i>
                                    </span>
                                    <h3>
                                        <a href="rooms-suites.html">Suite</a>
                                    </h3>
                                    <p class="price">
                                        <span class="currency">$</span>
                                        <span class="price-room">30</span>
                                        <span class="per">/ per night</span>
                                    </p>
                                    <ul>
                                        <li>
                                            <i class="icon-check"></i> Only 6 rooms are available</li>
                                        <li>
                                            <i class="icon-check"></i> Breakfast included</li>
                                        <li>
                                            <i class="icon-check"></i> Price does not include VAT &amp; services fee</li>
                                    </ul>
                                    <p>
                                        <a class="btn btn-primary btn-book">Book now!</a>
                                    </p>
                                </div>
                            </div>
                            <div class="item">
                                <a href="images/room-2.jpg" class="room image-popup-link" style="background-image: url(images/room-2.jpg);"></a>
                                <div class="desc text-center">
                                    <span class="rate-star">
                                        <i class="icon-star-full full"></i>
                                        <i class="icon-star-full full"></i>
                                        <i class="icon-star-full full"></i>
                                        <i class="icon-star-full full"></i>
                                        <i class="icon-star-full"></i>
                                    </span>
                                    <h3>
                                        <a href="rooms-suites.html">Double Room</a>
                                    </h3>
                                    <p class="price">
                                        <span class="currency">$</span>
                                        <span class="price-room">20</span>
                                        <span class="per">/ per night</span>
                                    </p>
                                    <ul>
                                        <li>
                                            <i class="icon-check"></i> Perfect for traveling couples</li>
                                        <li>
                                            <i class="icon-check"></i> Breakfast included</li>
                                        <li>
                                            <i class="icon-check"></i> Price does not include VAT &amp; services fee</li>
                                    </ul>
                                    <p>
                                        <a class="btn btn-primary btn-book">Book now!</a>
                                    </p>
                                </div>
                            </div>
                            <div class="item">
                                <a href="images/room-3.jpg" class="room image-popup-link" style="background-image: url(images/room-3.jpg);"></a>
                                <div class="desc text-center">
                                    <span class="rate-star">
                                        <i class="icon-star-full full"></i>
                                        <i class="icon-star-full full"></i>
                                        <i class="icon-star-full full"></i>
                                        <i class="icon-star-full full"></i>
                                        <i class="icon-star-full"></i>
                                    </span>
                                    <h3>
                                        <a href="rooms-suites.html">Family Room</a>
                                    </h3>
                                    <p class="price">
                                        <span class="currency">$</span>
                                        <span class="price-room">30</span>
                                        <span class="per">/ per night</span>
                                    </p>
                                    <ul>
                                        <li>
                                            <i class="icon-check"></i> Two double beds</li>
                                        <li>
                                            <i class="icon-check"></i> Babysitting facilities</li>
                                        <li>
                                            <i class="icon-check"></i> 1 free bed available on request</li>
                                    </ul>
                                    <p>
                                        <a class="btn btn-primary btn-book">Book now!</a>
                                    </p>
                                </div>
                            </div>
                            
                            <div class="item">
                                <a href="images/room-5.jpg" class="room image-popup-link" style="background-image: url(images/room-5.jpg);"></a>
                                <div class="desc text-center">
                                    <span class="rate-star">
                                        <i class="icon-star-full full"></i>
                                        <i class="icon-star-full full"></i>
                                        <i class="icon-star-full full"></i>
                                        <i class="icon-star-full full"></i>
                                        <i class="icon-star-full"></i>
                                    </span>
                                    <h3>
                                        <a href="rooms-suites.html">Superior Double Room</a>
                                    </h3>
                                    <p class="price">
                                        <span class="currency">$</span>
                                        <span class="price-room">30</span>
                                        <span class="per">/ per night</span>
                                    </p>
                                    <ul>
                                        <li>
                                            <i class="icon-check"></i> Perfect for traveling couples</li>
                                        <li>
                                            <i class="icon-check"></i> Breakfast included</li>
                                        <li>
                                            <i class="icon-check"></i> Price does not include VAT &amp; services fee</li>
                                    </ul>
                                    <p>
                                        <a class="btn btn-primary btn-book">Book now!</a>
                                    </p>
                                </div>
                            </div>
                            <div class="item">
                                <a href="images/room-6.jpg" class="room image-popup-link" style="background-image: url(images/room-6.jpg);"></a>
                                <div class="desc text-center">
                                    <span class="rate-star">
                                        <i class="icon-star-full full"></i>
                                        <i class="icon-star-full full"></i>
                                        <i class="icon-star-full full"></i>
                                        <i class="icon-star-full full"></i>
                                        <i class="icon-star-full"></i>
                                    </span>
                                    <h3>
                                        <a href="rooms-suites.html">Superior Family Room</a>
                                    </h3>
                                    <p class="price">
                                        <span class="currency">
                                            <small>$</small>
                                        </span>
                                        <span class="price-room">30</span>
                                        <span class="per">/ per night</span>
                                    </p>
                                    <ul>
                                        <li>
                                            <i class="icon-check"></i> Perfect for traveling couples</li>
                                        <li>
                                            <i class="icon-check"></i> Breakfast included</li>
                                        <li>
                                            <i class="icon-check"></i> Price does not include VAT &amp; services fee</li>
                                    </ul>
                                    <p>
                                        <a class="btn btn-primary btn-book">Book now!</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 text-center animate-box">
                        <a href="#">View all rooms
                            <i class="icon-arrow-right3"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div id="colorlib-testimony" class="colorlib-light-grey" style="background: #833ab4">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3 text-center colorlib-heading animate-box">
                        <span>
                            <i class="icon-star-full"></i>
                            <i class="icon-star-full"></i>
                            <i class="icon-star-full"></i>
                            <i class="icon-star-full"></i>
                            <i class="icon-star-full"></i>
                        </span>
                        <h2 style="color: white">Review by our guests</h2>
                        <p style="color: white">We always welcome people from all over the world to come and enjoy our place as well as our hometown. Let's Braddy hotels please and make your choice perfection.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 animate-box">
                        <div class="testimony text-center">
                            <span class="img-user" style="background-image: url(images/person2.jpg);"></span>
                            <span class="user">Brian Doe</span>
                            <small>Satisfied Customer</small>
                            <blockquote>
                                <p>
                                    </i>I will stay here again whenever I come to Vung Tau city. I rate it 5 starts because this
                                    place has a clean, beautiful rooms and nice services.</p>
                            </blockquote>
                        </div>
                    </div>
                    <div class="col-md-4 animate-box">
                        <div class="testimony text-center">
                            <span class="img-user" style="background-image: url(images/person1.jpg);"></span>
                            <span class="user">Shara Jones</span>
                            <small>Satisfied Customer</small>
                            <blockquote>
                                <p>
                                    </i>Comfortable and clean. The staffs were friendly, approachable and very helpful. I really
                                    enjoyed my vacation. Will definitely come back.
                                </p>
                            </blockquote>
                        </div>
                    </div>
                    <div class="col-md-4 animate-box">
                        <div class="testimony text-center">
                            <span class="img-user" style="background-image: url(images/person3.jpg);"></span>
                            <span class="user">Kim</span>
                            <small>Satisfied Customer</small>
                            <blockquote>
                                <p>
                                    </i>The whole hotel was very good. The room cleaned, the beds are comfortable, and easy to
                                    go to the beach. Will come this next time.
                                </p>
                            </blockquote>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <footer id="colorlib-footer" role="contentinfo">
            <div class="container">
                <div class="row row-pb-md">
                    <div class="col-md-4">
                        <h4 style="color: white">Sign Up for a Newsletter</h4>
                        <form class="form-inline qbstp-header-subscribe">
                            <div class="row">
                                <div class="col-md-12 col-md-offset-0">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="email" placeholder="Enter email">
                                        <button type="submit" class="btn btn-primary">Subscribe</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="col-md-3 colorlib-widget">
                        <h4>Braddy Hotels & Apartments</h4>
                        <p>Enjoy your vacation by chosing right hotel where serves you nice.</p>
                        <p>
                            <ul class="colorlib-social-icons">
                                <li>
                                    <a href="#">
                                        <i class="icon-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="icon-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="icon-linkedin"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="icon-dribbble"></i>
                                    </a>
                                </li>
                            </ul>
                        </p>
                    </div>

                    <div class="col-md-5 col-md-push-1">
                        <h4>Contact Information</h4>
                        <ul class="colorlib-footer-links">
                            <li>
                                <span>
                                    <i class="icon-flag3"></i>
                                </span> I-21, Bầu Sen 2 Street, Ward 2, Vung Tau city</li>
                            <li>
                                <span>
                                    <i class="icon-phone3"></i>
                                </span>
                                <a href="tel://0868892709"> +86 889 2709</a>
                            </li>
                            <li>
                                <a href="mailto:Braddyhotel@gmail.com"> Braddyhotel@gmail.com</a>
                            </li>
                            <li>
                                <a href="http://Braddyhotel.com"> Braddyhotel.com</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <p>
                            <small class="block">
                                Copyright &copy; 2018 | All rights reserved | This site is made by Brad Duy</a>
                            </small>
                        </p>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <div class="gototop js-top">
        <a href="#" class="js-gotop">
            <i class="icon-arrow-up2"></i>
        </a>
    </div>

    <!-- jQuery -->
    <script src="js/jquery.min.js"></script>
    <!-- jQuery Easing -->
    <script src="js/jquery.easing.1.3.js"></script>
    <!-- Bootstrap -->
    <script src="js/bootstrap.min.js"></script>
    <!-- Waypoints -->
    <script src="js/jquery.waypoints.min.js"></script>
    <!-- Flexslider -->
    <script src="js/jquery.flexslider-min.js"></script>
    <!-- Owl carousel -->
    <script src="js/owl.carousel.min.js"></script>
    <!-- Magnific Popup -->
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/magnific-popup-options.js"></script>
    <!-- Date Picker -->
    <script src="js/bootstrap-datepicker.js"></script>
    <!-- Main -->
    <script src="js/main.js"></script>

</body>

</html>